services:
  warp:
    image: ghcr.io/srgykuz/warp-proxy:latest
    ports:
      - 1080:1080
    environment:
      - PROXY_PORT=1080
      - VERBOSE=0
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 3

    # By default anonymous registration is lost after container removal.
    # Uncomment if you want persistent registration.
    # volumes:
    #   - ./warp:/var/lib/cloudflare-warp

    # Container can monitor proxy reachability by making real HTTP queries.
    # Uncomment if you want this health check.
    # healthcheck:
    #   test: ["CMD-SHELL", "healthcheck.sh"]
    #   interval: 1m
    #   timeout: 15s
    #   retries: 1
    #   start_period: 30s
    #   start_interval: 5s

    # Over time WARP tend to consume memory.
    # Uncomment if you want automatic container restart upon reaching memory threshold.
    # deploy:
    #   resources:
    #     limits:
    #       memory: 100M
